<h1>Invoice Preview</h1>

<p>Menard time from <%= @inv.date_range_start %> - <%= @inv.date_range_end %></p>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Time Spent</th>
    <th>$/Hour</th>
    <th>Notes</th>
    <th>Fee</th>
  </tr>
<% @inv.locations.each do |loc| %>
  <tr>
    <td><b><%= loc.name %></b></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <% @inv.work_entries_at(loc).each do |w| %>
    <tr>
      <td>&nbsp;</td>
      <td><%= w.worked_at %></td>
      <td class='right'><%= w.minutes_as_duration %></td>
      <td class='right'>$<%= w.rate_cents.to_s.sub(/(\d\d$)/, '.\1') %></td>
      <td><%= w.note %></td>
      <td class='right'>$<%= w.fee_cents.to_s.sub(/(\d\d$)/, '.\1') %></td>
    </tr>
  <% end %>
<% end %>
</table>
