<h1>Generate an Invoice</h1>

<form action="/invoice/preview" method="post">

  <div class="field">
    <%= label_tag :year, 'Year' %><br/>
    <input type="text" id="year" name="year" value="<%= Time.now.year %>"/>
  </div>
  <div class="field">
    <%= label_tag :month, 'Month' %><br/>
    <input type="text" id="month" name="month" value="<%= Time.now.month %>"/>
  </div>
  <div class="actions">
    <%= submit_tag 'Generate Invoice' %>
  </div>
</form>
