<h1>Invoice Preview</h1>

<ul>
  <li><%= export_link 'Export as CSV', 'csv', @inv %></li>
  <li><%= export_link 'Export as PDF', 'pdf', @inv %></li>
</ul>

  <p><%= @curr_user.name %> time from <%= @inv.date_range_start %> - <%= @inv.date_range_end %>, <%= @inv.year %></p>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Code</th>
    <th>Time Spent</th>
    <th>$/Hour</th>
    <th>Notes</th>
    <th>Fee</th>
  </tr>
<% @inv.locations.each do |loc| %>
  <tr>
    <td><b><%= loc.name %></b></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <% @inv.work_entries_at(loc).each do |w| %>
    <tr>
      <td>&nbsp;</td>
      <td><%= w.worked_at %></td>
      <td><%= w.code.full_name %></td>
      <td class="right"><%= w.minutes_as_duration %></td>
      <td class="right"><%= money_str(w.rate_cents) %></td>
      <td><%= w.note %></td>
      <td class="right"><%= money_str(w.fee_cents) %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br/>
<br/>

<table>
  <tr>
    <th>Location</th>
    <th>Code</th>
    <th>Time Spent</th>
    <th>Subtotal</th>
    <% if @inv.discount? %>
    <th>Discount</th>
    <th>Discounted</th>
    <% end %>
  </tr>
  <% @inv.codes.each do |code| %>
    <tr>
      <td><%= code.location.name %></td>
      <td><%= code.full_name %></td>
      <td class="right"><%= WorkEntry.minutes_as_duration(@inv.total_minutes_for_code(code)) %></td>
      <td class="right"><%= money_str(@inv.code_subtotal(code)) %>
      <% if @inv.discount? %>
      <td class="right"><%= @inv.discount_pct %>%</td>
      <td class="right"><%= money_str(@inv.discounted(@inv.code_subtotal(code))) %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <% if @inv.discount? %>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <% end %>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><b>Total</b></td>
    <td class="right"><%= WorkEntry.minutes_as_duration(@inv.total_minutes_in_month) %></td>
    <td class="right"><%= money_str(@inv.total) %></td>
    <% if @inv.discount? %>
    <td class="right"><%= @inv.discount_pct %>%</td>
    <td class="right"><%= money_str(@inv.discounted(@inv.total)) %></td>
    <% end %>
  </tr>
</table>
