<h1>Listing users</h1>

<%= paginate @users %><br/>

<table>
  <tr>
    <th>Login</th>
    <th>Role</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.role %></td>
    <td><%= user.name %></td>
    <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
    <td><%= user.address %></td>
    <td>
      <%= link_to 'Show', user %>
      <%= link_to 'Edit', edit_user_path(user) %>
      <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
