<h1>Listing work_entries</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Worked at</th>
    <th>Minutes</th>
    <th>Rate cents</th>
    <th>Fee cents</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_entries.each do |work_entry| %>
  <tr>
    <td><%= work_entry.code_id %></td>
    <td><%= work_entry.worked_at %></td>
    <td><%= work_entry.minutes %></td>
    <td><%= work_entry.rate_cents %></td>
    <td><%= work_entry.fee_cents %></td>
    <td><%= work_entry.note %></td>
    <td><%= link_to 'Show', work_entry %></td>
    <td><%= link_to 'Edit', edit_work_entry_path(work_entry) %></td>
    <td><%= link_to 'Destroy', work_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work entry', new_work_entry_path %>
