<h1>Work Entries</h1>

<table class="list-nav">
  <tr>
    <td><%= paginate @work_entries, :params => {:order => @order} %></td>
    <td class="right">
      <% if @curr_user.admin? %>
        <form action="">
          Show user: <%= select_tag "work_user", options_for_select(@work_user_options, :selected => @work_user ? @work_user.id : nil), :onchange => 'submit()' %>
        </form>
      <% end %>
      <form action="">
        Show month: <%= select_tag "year_month", options_for_select(@months, :selected => @year_month), :onchange => 'submit()' %>
      </form>
    </td>
  </tr>
</table>

<br/>

<table>
  <tr>
    <th>Code</th>
    <th>
      Worked<br/>At 
      <% if @order == 'asc' %>
        <%= link_to image_tag('up.png'), "?page=#{@page}&order=desc"
            %><%= image_tag 'down_disabled.png' %>
      <% else %>
        <%= image_tag 'up_disabled.png'
            %><%= link_to image_tag('down.png'), "?page=#{@page}&order=asc" %>
      <% end %>
    </th>
    <th>Time Spent</th>
    <th>Rate</th>
    <th>Fee</th>
    <th>Note</th>
    <th></th>
  </tr>

<% @work_entries.each do |work_entry| %>
  <tr>
    <td><%= work_entry.code.full_name %></td>
    <td><%= work_entry.worked_at %></td>
    <td class="right"><%= work_entry.minutes_as_duration %></td>
    <td class="right"><%= money_str(work_entry.rate_cents) %></td>
    <td class="right"><%= money_str(work_entry.fee_cents) %></td>
    <td><%= work_entry.note %></td>
    <td>
      <%= link_to 'Show', work_entry %>
      <%= link_to 'Edit', edit_work_entry_path(work_entry) %>
      <%= link_to 'Destroy', work_entry, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work entry', new_work_entry_path %>
