<h1>Listing work_entries</h1>

<%= paginate @work_entries %><br/>

<table>
  <tr>
    <th>Code</th>
    <th>Worked at</th>
    <th>Time Spent</th>
    <th>Rate</th>
    <th>Fee</th>
    <th>Note</th>
    <th></th>
  </tr>

<% @work_entries.each do |work_entry| %>
  <tr>
    <td><%= work_entry.code.full_name %></td>
    <td><%= work_entry.worked_at %></td>
    <td><%= work_entry.minutes_as_duration %></td>
    <td class="right"><%= Invoice.money_str(work_entry.rate_cents) %></td>
    <td class="right"><%= Invoice.money_str(work_entry.fee_cents) %></td>
    <td><%= work_entry.note %></td>
    <td>
      <%= link_to 'Show', work_entry %>
      <%= link_to 'Edit', edit_work_entry_path(work_entry) %>
      <%= link_to 'Destroy', work_entry, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work entry', new_work_entry_path %>
