<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @work_entry.code.full_name %>
</p>

<p>
  <b>Worked at:</b>
  <%= @work_entry.worked_at %>
</p>

<p>
  <b>Time Spent:</b>
  <%= @work_entry.minutes_as_duration %>
</p>

<p>
  <b>Rate (Cents):</b>
  <%= @work_entry.rate_cents %>
</p>

<p>
  <b>Fee (Cents):</b>
  <%= @work_entry.fee_cents %>
</p>

<p>
  <b>Note:</b>
  <%= @work_entry.note %>
</p>


<%= link_to 'Edit', edit_work_entry_path(@work_entry) %> |
<%= link_to 'All Work Entries', work_entries_path %>
