<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'user[password]', 'New Password' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= text_area :user, :address, :rows => 6, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :invoice_recipient %><br />
    <%= text_area :user, :invoice_recipient, :rows => 6, :cols => 40 %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Account' %>
  </div>
<% end %>
