<h1>Links</h1>

<ul>
  <li><%=link_to 'New Work Entry', controller: work_entries_path, action: 'new' %></li>
  <li><%=link_to 'Generate Invoice', invoice_path %></li>
</ul>

<ul>
  <li><%= link_to 'Locations', locations_path %></li>
  <li><%= link_to 'Cost Codes', codes_path %></li>
  <li><%= link_to 'Work Entries', work_entries_path %></li>
</ul>
