<!DOCTYPE html>
<html>
<head>
  <title>Time Lord</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="rhs">
    <% if @curr_user %>
      <%= @curr_user.name %>
      |
      <%= link_to_unless_current 'Account', "/account/#{@curr_user.id}/edit" %>
      |
      <%= link_to 'Log Out', "/account/logout" %>
    <% else %>
      <%= link_to_unless_current 'Log In', "/account/login" %>
    <% end %>
  </div>
  <div class="title">
    <%= link_to_unless_current image_tag('Time_Lord_Seal_tattoo_small_by_StevenLawson.png'), '/nav' %>
    <span class="title-text"><%= link_to_unless_current 'Time Lord', '/nav' %></span>
  </div>
  <div class="nav">
    <%= link_to_unless_current 'Home', '/nav' %>
    |
    <%= link_to_unless_current 'New Work Entry', '/work_entries/new' %>
    |
    <%= link_to_unless_current 'Generate Invoice', '/invoice' %>
  </div>
</div>

<%= yield %>

</body>
</html>
